@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
body{
    /* background-color: #F4EDEA; */
    /* background-color: #06BCC1;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23add6d6'/%3E%3Cstop offset='1' stop-color='%23add6d6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23add6d6'/%3E%3Cstop offset='1' stop-color='%23add6d6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f4edea'/%3E%3Cstop offset='1' stop-color='%23f4edea' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2306BCC1'/%3E%3Cstop offset='1' stop-color='%2306BCC1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F4EDEA'/%3E%3Cstop offset='1' stop-color='%23F4EDEA' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F4EDEA'/%3E%3Cstop offset='1' stop-color='%23F4EDEA' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */
background-image: url(mesh-gradient.png);
background-position: left;
background-repeat: no-repeat;
background-size: cover;
}

/* NAVBAR */
nav{
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    color: #12263A;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    top: 0;
    z-index: 5;
}
.logo{
    font-size: 22px;
    letter-spacing: 1px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    .brandname{
        height: 50px;
        width: 100px;
        background-image: url(logo.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    a{
        font-weight: 900;
        font-size: larger;
        font-style: normal;
        text-decoration: none;
        color: #12263A;
    }
    i{
        font-size: 28px;
        margin-right: 10px;
    }
}
nav ul{
    list-style: none;
    display: flex;
    gap: 5px;
    margin-right: 30px;
    a{
        text-decoration: none;
        color: inherit;
    }
    li{
        transition: all .3s ease;
        cursor: pointer;
        width: auto;
        padding: 10px;
        border-radius: 5px;
    }
}
nav ul li:hover{
    background-color: #12263A;
    color: #F4EDEA;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    
}
.page-title h2 {
    text-align: center;
    font-size: 3.5em;
    color: #12263A;
    margin: 10px 0;
  }
  
  .page-title p {
    margin: 0;
    text-align: center;
    font-size: 1.8em;
    color: rgba(18, 38, 58, 0.7);;
  }

.main-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #C5D8D1;
    padding: 30px;
    border-radius: 10px;
}

.main-filter{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    span{
        margin-left: 3px;
    }
    select{
        height: 35px;
        border: none;
        border-radius: 10px;
        background-color: #12263A;
        color: #F4EDEA;
        padding: 0 10px;
    }
}

.container {
    height: auto;
    width: 400px;
    background-color: #12263A;
    color: #F4EDEA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#selectedInfo {
    list-style-type: none;
    text-align: left;
}

#selectedInfo li {
    margin: 10px 0;
}

#selectedInfo li a {
    text-decoration: none;
    color: #06BCC1;
}

footer{
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background-color: #12263A;
    color: #F4EDEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 20px;
    i{
        color: #06BCC1;
        font-size: 36px;
    }
}